{{ define "entry" }}
{{ $id := index . 0 }}
{{ $state := index . 1 }}
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ $id }}
    </th>
    <td id="temp-{{$id}}" class="px-6 py-4">
        {{ printf "%.02f" $state.Temperature }}°C
    </td>
    <td id="fan-{{$id}}" class="px-6 py-4">
        {{ $state.FanSpeed }}%
    </td>
    <td class="px-6 py-4 text-right">
        <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800" hx-post="/entry/{{ $id }}/boost" hx-swap="none">
            Boost
        </button>
    </td>
{{ end }}
