package templates

templ About() {
	@layout("About page for RPi PoE Fan Controller") {
		<p class="mb-3 text-gray-500 dark:text-gray-400">This application demonstrate how to build a dynamic IoT end to end stack in Go. Leveraging HTMX to enable just emitting simple HTML. Polling is used to refresh the list of devices while Server Side Event are used to refresh the content of each cell dynamically.</p>
	}
}
