package templates

import "github.com/Bluebugs/rpi-poe-fan/web/types"

templ Entries(rpis map[string]types.State) {
	for id, state := range rpis {
		@Entry(id, state.Temperature, state.FanSpeed)
	}
}
